<h1>about</h1>

<h3>why</h3>
<p>
  The tech industry needs more safe, mindful, and inclusive spaces for Creatives of Color.<br>
  The Vox Media Product team cares, and wants to carve such spaces.<br>
  A step towards that is Color Coded.
</p>

<h3>what</h3>
<p>Color Coded is a hybrid between a hackathon&#42; and a mini-conference. <br>
This edition's theme is: "Empowering Our Community Through Creation And Care".<br>
For two days, Creatives of Color will get together and build impactful projects such as <span class="accent"><a href="http://www.tonr.com/demo">Tōnr</a></span>, a photo filtering app built specificically with people of color in mind. <br></p>
