<h1>about </h1>

<p>Join the Vox Product Diversity and Inclusion Committee, on <span class="accent">Nov 5th and 6th 2016 </span> for Color Coded: an unhackathon&#42; that aims to empower People of Color through collaboration, creativity, and self-care.</p>
  <p>
  We believe that true inclusivity begins with carving safe spaces for underrepresented communities. Color Coded wants to provide such a space for Creatives of Color as they work on projects that will benefit their own communities. A project example is <a href="http://tonr.co/demo">tonr</a>, a photo filtering app for People of Color built during the Vox Product team yearly hackathon.
</p>
<p>Creativity comes in many forms, so you shouldn't feel obligated to deliver software. Maybe you’d like to create a comic, a mini-documentary, or even build a physical prototype? It’s your time to explore. </p>

<p>By attending, you agree to follow our <a href="/code-of-conduct.html">Code of Conduct</a>. </p>

<p class="explainer"> <i><b> &#42;Unhackathon:<b> an event during which people get together to build things with camaraderie and good vibes. There are no winners, no trophies, and no stress.</i> </p>
