<h1>about </h1>

<p>Join the Vox Product Diversity and Inclusion Committee, on <span class="accent">Nov 5th and 6th 2016 </span> for Color Coded: an un-hackathon that aims to empower Creatives of Color through collaboration, creativity, and self-care</p>
  <p>
  Color Coded is an event created primarily for Creatives of Color. Why? Because we believe that true inclusivity begins with carving safe spaces for underrepresented communities. It isn't a competion. Instead, it is an occasion for participants to come together, bond through creativity, and rid themselves of stress.
</p>
<p>Come surround yourself with positive energy, and get ready to work on a project that will benefit your community! An example of project is <a href="http://tonr.co/demo">tonr</a>, an app built during the Vox Product team yearly hackathon. </p>
<p>We are welcoming of all ideas, so don’t feel obligated to deliver software. Maybe you’d like to create a comic, a documentary, or even build a physical prototype? It’s your time to explore. </p>
<p>By attending, you agree to follow our <a href="/code-of-conduct.html">Code of Conduct</a>. </p>
