<h1>about </h1>

<p>Join the Vox Product Diversity and Inclusion Committee, on Nov 5th and 6th for a weekend of collaboration, creativity, and self-care.
Color Coded is a hackathon for People of Color. Unlike usual hackathons, this is not a competition. This event wants to empower participants – and the Community of Color, through collaboration, creativity, and self-care.
</p>
<p>Come surround yourself with positive energy, and get ready to work on a project that will benefit your community. An example of project is <a href="http://tonr.co/demo">tonr</a>, an app built during the Vox Product team yearly hackathon. </p>
<p>We are inclusive of all ideas, so don’t feel obligated to deliver software. Maybe you’d like to create a comic, a documentary, or even build a physical prototype? It’s your time to explore. </p>
<p>By attending, you agree to follow our <a href="/code-of-conduct.html">Code of Conduct</a>. </p>