<div class="collapse-divs"><h3>Participants</h3>
<%= render_partial "partials/collapse_button.html.erb", locals: { target: "participants" } %></div>
<div class="collapse" id="participants">
  <div class="well">
    <h4>Who can participate?</h4>

    Do you consider yourself to be a creative? Do you have tons of app ideas you want to contribute for your community? Are you a person of color? If yes, you should participate!

    <h4>I am Caucasian, but I fully support the cause. Can I participate?</h4>

    We welcome all applicants – but please keep in mind that this space is primarily created for people of color.

    <h4>What does participating entail?</h4>

    To participate, you have to be here for the entirety of the event. This includes both Saturday and Sunday. It will be weekend of creative expression, connectivity, and positive energies!
  </div>
</div>


<div class="collapse-divs"><h3>Project Ideas</h3>
<%= render_partial "partials/collapse_button.html.erb", locals: { target: "projects" } %></div>

<div class="collapse" id="projects">
  <div class="well">
    <h4> I don't have an idea. Can I still participate? </h4>

    Absolutely! Come check out the list of ideas on Saturday morning, and join a team.

    <h4> I have an idea! How will I share it? </h4>

    Come prepared to pitch it Saturday morning! We will take an hour to allow all ideas to be shared. <br>
    Anxious about public speaking? Don't fret, you will have the opportunity to digitally submit your idea with a short description. Be ready to lead your team, though!

    <h4>Will my ideas be my intellectual property?</h4>

    Because of the nature of the event, no. This is an event with the potential for press coverage, and as such, everything that is created here will be available to the public. What this means is that any ideas created on site are not protected IP.

    <h4>Do I have to come with a team?</h4>

    Nope! You will have the chance to join a team after ideas are pitched on Saturday morning.
  </div>
</div>
<div class="collapse-divs"><h3> Product </h3>
<%= render_partial "partials/collapse_button.html.erb", locals: { target: "product" } %></div>

<div class="collapse" id="product">
  <div class="well">
    <h4>What do we expect you to create?</h4>

    We expect participants to create a prototype of their ideas. Each prototype will be showcased at a science fair where all participants will be able to check out each other's ideas.

    <h4> Will there be a winner? </h4>

    Nope! <br>Each project will be showcased "science-fair" style. Participants, coaches, and possibly other attendees, will browse the room and check all the projects.<br>
    This is a judgment free zone.

  </div>
</div>