<div class="collapse-divs"><h3>Participants</h3>
<%= render_partial "partials/collapse_button.html.erb", locals: { target: "participants" } %></div>
<div class="collapse" id="participants">
  <div class="well">
    <div class="well-content">
      <h4>Who can participate?</h4>

      <p>Are you a Person of Color? Do you want to build inclusive product? Do you consider yourself to be a creative? Are you a designer, a developer, or do you work in another creative field? Would you like to be introduced to a new skill by working on a project? If you answered yes to any of these questions, you should participate! </p>

      <h4>I do not identify as a Person of Color, but I fully support the cause. Can I participate?</h4>

      <p>We welcome all applicants – but please keep in mind that this space is primarily created with people of color in mind.</p>

      <h4>What does participating entail?</h4>

      <p>To participate, you have to be here for the entirety of the event. This includes both Saturday and Sunday. It will be a weekend filled with creative expression, connectivity, and positive energies!</p>
    </div>
  </div>
</div>


<div class="collapse-divs"><h3>Project Ideas</h3>
<%= render_partial "partials/collapse_button.html.erb", locals: { target: "projects" } %></div>

<div class="collapse" id="projects">
  <div class="well">
    <div class="well-content">
      <h4> Is there a theme for ideas? </h4>
      <p> We encourage participants to think of ideas that benefit the Community of Color. An example of project is <a href="http://tonr.co/demo">tonr</a>, an app built during the Vox Product team yearly hackathon. </p>
      <h4> I have an idea! How will I share it? </h4>

      <p>Come prepared to pitch it Saturday morning! We will take an hour to allow all ideas to be shared.</p>

      <h4> I don't have an idea. Can I still participate? </h4>

      <p>Absolutely! There will be a pitching session on Saturday morning, as well as a pre-made list of project ideas.</p>

    </div>
  </div>
</div>
<div class="collapse-divs"><h3> Product </h3>
<%= render_partial "partials/collapse_button.html.erb", locals: { target: "product" } %></div>

<div class="collapse" id="product">
  <div class="well">
    <div class="well-content">
      <h4>What do we expect you to create?</h4>

      <p>We expect participants to create a prototype of their ideas. Each prototype will be showcased at a science fair where all participants will be able to check out each other's ideas.</p>

      <h4> Will there be a winner? </h4>

      <p>Nope! <br>Each project will be showcased "science-fair" style. Participants, coaches, and possibly other attendees, will browse the room and check all the projects.<br>
      This is a judgment free zone.</p>
    </div>
  </div>
</div>