<footer class="footer col-sm-12 col-md-10 col-lg-8">
  <div class="social">
       <a href="https://twitter.com/share" data-show-count="false"><%= partial "partials/svg/twitter.svg" %></a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <div data-href="http://colorcoded.voxmedia.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcolorcoded.voxmedia.com%2F&amp;src=sdkpreparse"><%= partial "partials/svg/fb.svg" %></a></div>
  </div>
  2016 | Vox Media Inc | All Rights Reserved
</footer>