<h1>register </h1>
<!-- builder -->
<h2> Do you want to create? </h2>
<!--   <ul>
    We are looking for: (all skill levels welcome)
  <li>web developers</li>
  <li>web designers</li>
  <li>UX-UI designers</li>
  <li>anyone with an idea, and skills that will allow you to build a cool project</li>
  As a participant you will work with teammates on an idea that you will all have chosen. We ask teams to foster supportive, positivie, and stress-free environments.
</ul> -->
<div class="btn">
  Apply
</div>
<h2> Do you want to coach? </h2>
<!-- <ul>
  We are looking for:
    <li>web developers</li>
    <li>web designers</li>
    <li>UX-UI designers</li>
  As a coach you will check on the teams, help when needed, and if you have an idea of your own here's a chance to work on it!
</ul> -->
<div class="btn">
  Apply
</div>