<div class="col-lg-12 col-md-12 col-sm-12 location">
 <h1>schedule</h1> <span> <%= partial "partials/svg/marker.svg" %> iStrategy Labs | 641 S St NW |  Washington, DC 20001</span>
</div>
<div class="col-sm-12 col-md-6 col-lg-6 daily-schedule" style="float: none; display: inline-block; vertical-align: top;">
  <h2> Saturday </h2>

<ul>
  <h4>Morning</h4>
  <li>Breakfast</li>
  <li>Pitches for Ideas</li>
  <li>Teams Formation</li>
  <li>Hacking</li>

  <h4>Lunch Discussion: <br>Self-Care and Mental Health at the Workplace</h4>

  <h4>Afternoon</h4>
  <li>Hacking</li>
  <li>7pm Yoga Class</li>
</ul>
</div>


<div class="col-sm-12 col-md-6 col-lg-6 daily-schedule" style="float: none; display: inline-block; vertical-align: top;">
<h2> Sunday </h2>

<ul>
  <h4>Morning</h4>
  <li>Breakfast</li>
  <li>Hacking</li>
  <li>Lunch</li>
  <h4>Afternoon</h4>
  <li>Hacking</li>
  <li>Open Floor Showcase</li>
</ul>

Fin
</div>