<div class="col-lg-12 col-md-12 col-sm-12 location">
 <h1>schedule</h1> <span> <%= partial "partials/svg/marker.svg" %> iStrategy Labs | 641 S St NW |  Washington, DC 20001</span>
 <p class="explainer">Snacks and non-alcoholic beverages will be provided</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-12 daily-schedule saturday" style="display: inline-block; vertical-align: top;">
  <h2> Saturday (10am-7pm)</h2>
  <ul>

    <h4>10am-11am</h4>
    <li>Breakfast</li>
    <li>Welcome to Color Coded + intros</li>
    <li>Pitches</li>
    <li>Teams Formation</li>

    <h4>11am - 1pm</h4>
    <li>Hacking / Creating </li>

    <h4>1pm - 2pm</h4>
    <li>Lunch provided by <a href="http://maketto1351.com/">Maketto</a></li>
    <li>Lunch Discussion: <br>MENTAL HEALTH AND WELLNESS FOR PEOPLE OF COLOR IN THE WORKPLACE</li>

    <h4>2pm - 6pm</h4>
    <li>Hacking / Creating</li>

    <h4>6pm - 7pm</h4>
    <li>Yoga class taught by <a class="http://yogasihnuu.com">Sihnuu Hetep</a></li>
  </ul>
</div>


<div class="col-lg-6 col-md-6 col-sm-12 daily-schedule sunday" style="display: inline-block; vertical-align: top;">
<h2> Sunday (9am-4pm)</h2>

<ul>
  <h4>9am-12pm</h4>
  <li>Breakfast</li>
  <li>Hacking</li>
  <h4>12pm - 3pm</h4>
  <li>Lunch provided by <a href="http://www.andpizza.com/">&pizza</a></li>
  <li>Hacking / Creating</li>
  <h4>3pm - 4pm</h4>
  <li>OPEN FLOOR SHOWCASE</li>
</ul>
</div>







